# Environment variables (copy to server Node app env or local `.env.local`)

DATABASE_HOST=localhost
DATABASE_NAME=hesammar_inviteDb
DATABASE_USER=hesammar_invite_user
DATABASE_PASSWORD=

ADMIN_PASSWORD=

NEXT_PUBLIC_APP_URL=https://invite.hesammarshal.ir
