RewriteEngine On

# www → apex
RewriteCond %{HTTP_HOST} ^www\.biyabaman\.ir$ [NC]
RewriteRule ^(.*)$ https://biyabaman.ir/$1 [L,R=301]

# http → https (apex)
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^(www\.)?biyabaman\.ir$ [NC]
RewriteRule ^(.*)$ https://biyabaman.ir/$1 [L,R=301]

# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/hesammar/biyabaman.ir/www"
PassengerBaseURI "/"
PassengerNodejs "/home/hesammar/nodevenv/biyabaman.ir/www/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js
PassengerAppLogFile "/home/hesammar/biyabaman.ir/www/logs/biyabaman-passenger.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
